{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Retour plugin for Craft CMS 3.x
 *
 * Retour index.twig
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2018 nystudio107
 * @link      https://nystudio107.com/
 * @package   Retour
 * @since     3.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block contextMenu %}
    {% include "retour/_includes/sites-menu.twig" %}
{% endblock %}

{% set content %}
    <h2>{{ "Retour CP Section body goes here"|t('retour') }}</h2>
    <p class="textline"></p>
    <div class="field readable">
        {% if showWelcome %}
            <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                <img src="{{ baseAssetsUrl ~ '/img/Retour-icon.svg' }}"
                     width="30%" height="auto"/>
                <h2>Thanks for using Retour!</h2>
                <p>
                    This Dashboard will show you ...
                </p>
                <p>
                    Retour for Craft CMS 3 is ...
                </p>
                <p>
                    We hope you love it!
                </p>
            </div>
        {% endif %}
        <div class="flex">
        </div>

    </div>

    <script src="/cpresources/retour/js/retour-legacy.js"></script>
    <script src="/cpresources/retour/js/dashboard-legacy.js"></script>

    {#
    <!-- Browsers with ES module support load this file. -->
    <script type="module" src="/cpresources/retour/js/retour.js"></script>
    <script type="module" src="/cpresources/retour/js/dashboard.js"></script>

    <!-- Older browsers load this file (and module-supporting -->
    <!-- browsers know *not* to load this file). -->
    <script nomodule src="/cpresources/retour/js/retour-legacy.js"></script>
    <script nomodule src="/cpresources/retour/js/dashboard-legacy.js"></script>
    #}
{% endset %}
