/**
 * components/tables.css
 *
 * Project Tables.
 *
 */

table.vuetable {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

/**
 * Dashboard chart
 */

th.vuetable-th-redirectSrcUrl {
  width: 34%!important;
}

th.vuetable-th-referrerUrl {
  width: 34%!important;
}

th.vuetable-th-hitCount {
  width: 6%!important;
  text-align: right!important;
}

th.vuetable-th-hitLastTime {
  width: 18%!important;
}

th.vuetable-th-handledByRetour {
  width: 6%!important;
}

th.vuetable-th-addLink {
  width: 5%!important;
}

/**
 * Redirects chart
 */

th.vuetable-th-redirectDestUrl {
  width: 25%!important;
}

th.vuetable-th-redirectMatchType {
  width: 15%!important;
}

th.vuetable-th-redirectHttpCode {
  width: 10%!important;
}

th.vuetable-th-deleteLink {
  width: 5%!important;
}

/**
 * Column alignment
 */
td.text-center {
  text-align: center!important;
}

td.text-right {
  text-align: right!important;
}

div.pagination a.active {
  border: 1px solid #9d9d9d;
}
