{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Retour plugin for Craft CMS
 *
 * Retour Widget Body
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2018 nystudio107
 * @link      https://nystudio107.com/
 * @package   Retour
 * @since     3.0.0
 */
#}

{% extends "retour/_layouts/widget-cp.twig" %}

{% from "retour/_includes/macros.twig" import includeJsModule %}

{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@nystudio107/retour/assetbundles/retour/dist', true) %}
{% set iconUrl = baseAssetsUrl ~ '/img/icon.svg' %}

{% block content %}
    <div id="widget-content">
        <widget-chart title="404s hits" sub-title="Discrete 404s hits in the last" days="{{ numberOfDays }}">
        </widget-chart>
        <div style="float: right;">
            <a class="go" href="/retour/dashboard">Dashboard</a>
        </div>
    </div>

    {{ includeJsModule("widget") }}
{% endblock %}
