{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Retour plugin for Craft CMS
 *
 * Retour Widget Body
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2018 nystudio107
 * @link      https://nystudio107.com/
 * @package   Retour
 * @since     3.0.0
 */
#}

{% extends "retour/_layouts/widget-cp.twig" %}

{% from "retour/_includes/macros.twig" import includeJsModule %}

{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@nystudio107/retour/assetbundles/retour/dist', true) %}
{% set iconUrl = baseAssetsUrl ~ '/img/Retour-icon.svg' %}

{% block content %}
    <div id="widget-content">
        <div class="shadow">
            <widget-chart title="404s by Month" sub-title="Discrete 404 URI hits in the last month" days="30">
            </widget-chart>
        </div>
    </div>

    {{ includeJsModule("widget") }}
{% endblock %}
